{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Samyati Energies{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
      .alert {
        padding: 15px;
        border-radius: 6px;
        font-size: 16px;
        margin-bottom: 20px;
      }

      .alert-success {        
        color: #155724;            
        background-color: #d4edda; 
        border: 0.5px solid #c3e6cb; 
      }
    </style>
</head>
<body>



<header>
  <div class="navbar">
    <a href="{% url 'home' %}">
      <img src="{% static 'images/logo.png' %}" alt="Samyati Energies Logo" class="logo">
    </a>
    <ul class="nav-links">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'products' %}">Products</a></li>
      <li><a href="{% url 'why_lithium' %}">Why Lithium?</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
  </div>
</header>


    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
      <div class="footer-content">
        <img src="{% static 'images/logo.png' %}" alt="Company Logo" class="footer-logo">
        <p class="footer-text">Empowering E-mobility with safe, long-lasting lithium-ion batteries in Nepal and beyond.</p>
      <div class="social-icons">
        <a href="https://www.facebook.com/samyatielectrowheels" target="_blank" title="Facebook" aria-label="Facebook" class="facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://wa.me/9779805381210" target="_blank" title="WhatsApp" aria-label="WhatsApp" class="whatsapp">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a href="https://linkedin.com" target="_blank" title="LinkedIn" aria-label="LinkedIn" class="linkedin">
          <i class="fab fa-linkedin-in"></i>
        </a>
        </div>
    


    <div class="footer-bottom">
      &copy; 2025 Samyati Energies. All rights reserved.<br>
      <span class="developer-credit">Developed by <a href="https://github.com/nnischal" target="_blank">Nischal Niraula</a></span>
    </div>

  </div>
</footer>

</body>
</html>